body {
background-color:#f8f8f8de;
}


#intro {
      font-family: Gill Sans Extrabold, sans-serif;
      font-size: xx-small;
font-size: x-small;
font-size: small;
font-size: medium;
font-size: large;
font-size: x-large;
font-size: xx-large;
    
}


#page{
        margin : 10px;
      color:#004d4d;
      
}
#metiers{
    margin:20px;
    font-size: medium;
    font-family: Gill Sans Extrabold, sans-serif;
}

p 
{
    font-family: Avantgarde;
    font-size: 25px;
    font-style: oblique;
}

h1
{
   font-style: oblique;
   font-family: Avantgarde;
   color:#b300b3;
   font-weight: bold;
   font-size: 50px
   
}
h2
{
   font-style: oblique;
   font-family: Avantgarde;
   color: #009999;
   font-weight: bold;
   font-size: 40px
   
}

.texte
{
    font-size: 25px;
    font-style: oblique;
}
.imageflottante
{
    float: left;
}
.fit-picture {
    width: 300px;
    border-radius:7px;
}
.fit-picture2 {
    width: 200px;
    border-radius:7px;
}
.lien:hover
{
    text-decoration: none;
    color: #00C14F;
}
.lien:visited
{   
    font-style: italic;
    color: #007200;
}
.dangers
{
 border-top: 1px green dashed;
 border-bottom: 1px green dashed;

}
.imageflottante2
{
    float: left;
}


#quiz{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: center;
}

.card-text{
    font-size: 25px;
    color: #804800;
}

h3{
    font-size: 25px;
    color: #e6e600;
}
.card-title
{
    font-size: 35px;
    color:#B89241;
}

footer{
    position: fixed;
    bottom: 0;
    right:0;
    left:0;
    background-color: #e6e6e6;
    text-align: center;
}
ul{
   
     font-size: 25px;
}
 .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor:middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
